
body {
    font-family: "Poppins", sans-serif;
    /* font-family: "Roboto", sans-serif; */
    background-color: #f4f7f9;
    font-weight: 300;
}
a{
    text-decoration: none;
}
.sortBtn {
    flex: 0 0 33.33%;
    text-align: left;
    padding: .7rem 1.5rem;
    border: navajowhite;
    outline: navajowhite;
    background: transparent;
    font-weight: 600;
}
.sortBtn.active{
    border-bottom: 3px solid #0072c8;
    color: #0072c8;
}
.sortBtn:first-child.active{
    border-end-start-radius: .5rem;
}
.sortBtn:last-child.active{
    border-end-end-radius: .5rem;
}
.flightCard hr{
    height: 2px;
    width: 100%;
}
.operator .duration{
    font-size: 13px;
    background-color: #f4f7f9;
    font-weight: 500;
    height: 24px;
    border-radius: 12px;
}
.bookBtn{
    background-color: #0072c8;
    color: #fff;
    border-color: #0072c8;
    outline-color: #0072c8;
    width: 100%;
    border-radius: .3rem;
}
.bookBtn.whatsAppBtn{
    color: #0072c8;
    background-color: #fff;
    border-color: #0072c8;
    outline-color: #0072c8;
}
/* .operatorLogo:has(img:nth-child(2)) img:first-child {
  
} */
 .operatorLogo div{
    width: 26px;
    height: 26px;
    background-color: #fff;
    border-color: #e3e3e37d !important;
    overflow: hidden;
 }
.operatorLogo div:not(:first-child){
    margin-inline-start: -10px;
}
.stop p{
    border-bottom-style: dotted !important;
}
.flightDetail{
    border-top-style: dotted !important;
}
.separator{
    border-style: dotted;
}