body {
    /* font-family: "Poppins", sans-serif; */
    font-family: "Roboto", sans-serif;
    /* background-color: #f4f7f9; */
    font-weight: 300;
}
@font-face {
    font-family: "rooboto";
    src: url(../fonts/Roobert-SemiBold.woff2);
}
h1,h2,h3{
    font-family: "rooboto", sans-serif;
}
:root {
    --primaryColor: rgba(0, 143, 123, 1);
    --primaryHover: rgba(0, 117, 101, 1);
    --btnGradient: linear-gradient(135deg, rgba(0, 143, 123, 0.4) 0%, rgba(0, 143, 123, 1) 100%);
    --btnGradientHover: linear-gradient(135deg, rgb(213, 23, 109)20%, rgb(105, 12, 54));
    --primaryBtn: #2563EB;
    --primaryBtnHover: #1D4ED8;
}

a {
    text-decoration: none;
}

a:hover {
    color: var(--primaryHover)
}

.nav-link:hover {
    color: var(--primaryHover);
}

header {
    /* background-color: var(--primaryColor); */
}

.site-logo {
    width: 210px;
}

.header-img {
    height: 600px;
    object-fit: cover;
    width: 100%;
    object-position: bottom;
}

.nav-link {
    color: #373a42;
    font-weight: 500;
}

.nav-link.active {
    color: var(--primaryHover) !important;
}

.flight-searchForm {
    background-color: #fff
}

.form-element input,
.form-element select {
    border: none;
    outline: none;
}

.form-element input:focus,
.form-element select:focus {
    outline: none !important;
    border: none !important;
    box-shadow: none;
}
.pessanger{
    padding: 8px 0;
    position: relative;
}
.pessangerSelect {
    top: -0.1rem;
    z-index: 1;
    background-color: #fff;
    width: 250px;
}

.passengerBtn {
    width: 26px;
    height: 26px;
    border-radius: 50%;
}

.selectLocation {
    left: .3rem;
    z-index: 1;
}

.dropdown-radio {
    position: relative;
}

/* .dropdown-radio-summary {
    padding: 8px 12px;
    border: 1px solid #ccc;
    cursor: pointer;
    background: #fff;
    border-radius: 5px;
} */

.dropdown-radio-content {
    position: absolute;
    top: -0.1rem;
    left: 0;
    width: 180px;
    background: #fff;
    padding: 10px;
    display: none;
    z-index: 20;
}

.dropdown-radio.open .dropdown-radio-content {
    display: block;
}

.dropdown-radio-content label {
    margin-left: 5px;
    cursor: pointer;
}

.selectLocation ul li:hover {
    background-color: #0dcaf0 !important;
}

.trip input[type=radio] {
    width: 1rem;
    height: 1rem;
    vertical-align: middle;
}

#carouselHomeHead .carousel-item {
    height: 450px;
}

.carousel-item img {
    object-position: right;
}
.herovideo{
    object-fit: cover;
    height: 610px;
}
.section-heading{
    font-size: 3rem;
}
.flightSearch {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    width: 100%;
}
.myBtn{
    background-color: var(--primaryBtn);
    transition: all 0.3s ease;
    color: #fff;
}
.myBtn:hover{
     background: rgb(27, 132, 236);
    color: #fff;
}
.search-flight-btn {
    background: var(--primaryBtn);
    border: none;
    color: #fff;
    padding: 8px 30px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 50px;
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.search-flight-btn:hover {
    background:var(--primaryBtnHover);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
    color: #fff;
}

.search-flight-btn svg {
    transition: all 0.3s ease;
}

.search-flight-btn:hover svg {
    transform: translateX(5px);
}

.popularDestCard {
    scale: 1;
    /* transition: all 0.5s linear; */
}

/* .popularDestCard:hover {
    scale: 1.06;
} */

.sortBtn {
    flex: 0 0 33.33%;
    text-align: left;
    padding: .7rem 1.5rem;
    border: navajowhite;
    outline: navajowhite;
    background: transparent;
    font-weight: 600;
}

.sortBtn.active {
    border-bottom: 3px solid var(--primaryColor);
    color: var(--primaryColor);
}

.sortBtn:first-child.active {
    border-end-start-radius: .5rem;
}

.sortBtn:last-child.active {
    border-end-end-radius: .5rem;
}

.dividor {
    color: #9b9b9b;
}

.flightCard hr {
    height: 2px;
    width: 100%;
}

.operator .duration {
    font-size: 13px;
    background-color: #f4f7f9;
    font-weight: 500;
    height: 24px;
    border-radius: 12px;
}

.bookBtn {
    background: var(--primaryBtn);
    color: #fff;
    border: none;
    width: 100%;
    border-radius: .3rem;
    transition: background 1s linear;
}

.bookBtn.whatsAppBtn {
    color: rgb(105, 12, 54);
    background: #fff;
    border: 2px solid rgb(105, 12, 54);
}

.bookBtn:hover {
    background: var(--primaryBtnHover);
}

.bookBtn.whatsAppBtn:hover {
    color: var(--primaryHover);
    background: #fff;
    border-color: var(--primaryHover);
}

/* .operatorLogo:has(img:nth-child(2)) img:first-child {
  
} */
.operatorLogo div {
    width: 26px;
    height: 26px;
    background-color: #fff;
    border-color: #e3e3e37d !important;
    overflow: hidden;
}

.operatorLogo div:not(:first-child) {
    margin-inline-start: -10px;
}

.stop p {
    border-bottom-style: dotted !important;
}

.flightDetailBtn {
    border-top-style: dotted !important;
}

.flightDetail button {
    font-weight: 300;
}

.separator {
    border-style: dotted;
}

.modal-logo {
    width: 24px;
    height: 24px;
}

.modal-logo img {
    border-radius: 50%;
}

.aLine {
    background-color: #f4f7f9;
    border-radius: 12px;
}

.dot {
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dot-icon {
    display: block;
    width: 8px;
    height: 8px;
    background: #6c757d;
    border-radius: 50%;
    position: relative;
    overflow: visible;
}

.dot-icon::after {
    position: absolute;
    content: "";
    width: 2px;
    height: 40px;
    background: #6c757d;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
}

.dot-up::after {
    bottom: 0;
}

.dot-icon .fa-circle {
    font-size: .5rem;
    display: none;
}

.w-90px {
    width: 90px;
}

.plane-icon i {
    rotate: 90deg;
}

.my-shadow {
    box-shadow: 0 3px 1px -2px #00000033, 0 2px 2px 0 #00000024, 0 1px 5px 0 #0000001f !important;
}

.layoverDetail {
    margin-left: 90px;
}

.sideFilter:not(:last-child) {
    border-bottom: 1px solid rgb(223, 223, 223);
}

.filterLabel {
    display: block;
    position: relative;
    padding-left: 27px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: 400;
}

/* Hide the browser's default radio button */
.filterLabel input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    height: 20px;
    width: 20px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: #fff;
    border: 1px solid rgb(192, 191, 191);
}

input[type="radio"]~.checkmark {
    border-radius: 50%;
}

/* When the radio button is checked, add a blue background */
.filterLabel input:checked~.checkmark {
    border: 2px solid #0072c8;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.filterLabel input:checked~.checkmark:after {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Style the indicator (dot/circle) */
.filterLabel input[type="radio"]~.checkmark:after {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #0072c8;
}

input[type="checkbox"]~.checkmark {
    border-radius: 2px;
}

.filterLabel input[type="checkbox"]~.checkmark:after {
    content: "\2713";
    color: #fff;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    background-color: #0072c8;
}

footer {
    background-color: #fff;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
}

.footLogo {
    width: 160px;
}

.f-lg {
    font-size: 1.5rem;
    font-weight: 500;
}

.socialIcon {
    color: var(--primaryBtn);
    font-size: 1.5rem;
}

.disc {
    background-color: var(--primaryBtn);
}

.topAirlines {
    padding: 3rem 0;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, .4);
}

.owl-carousel .owl-stage {
    display: flex;
}

.testimoniaSlider-card {
    display: flex;
    flex: 1 0 auto;
    height: 100%;
}

p.testiText {
    margin-top: 30px;
}

.qoutIcon {
    width: 30px;
    top: 7px;
    left: 1rem;
}

.qoutIcon svg path {
    fill: #373a42;
}

.testimonialSlider-card-inner>div {
    position: relative;
    overflow: hidden;
    /* margin-bottom: 80px; */
    /*This is optional*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.star-rating {
    margin-bottom: 10px;
    font-size: 18px;
    color: #f39c12;
}

.profileBtn:hover {
    box-shadow: none;
}

.blogs {
    background-color: #000;
    color: #fff;
}

.blog-card {
    background: white;
    color: #000;
}

.blog-summery {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

a.learMorebtn {
    color: #fff;
    border: 1px solid #fff;
    padding: 9px 15px;
}

.whatsAppChat {
    width: 75px;
    height: 75px;
    bottom: 49px;
    right: 49px;
    background: #00c95f;
    border-radius: 50%;
    padding: 8px;
    z-index: 9999;
}
.heaadtext h1{
    font-size: 3.5rem;
}
.heaadtext p{
    font-size: 1.2rem;
}
.text2{
    font-size: 1.5rem;
}
@media screen and (max-width: 768px) {
    .sortBtn {
        padding: .5rem 1rem;
    }

    .f-lg {
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 480px) {
    .sortBtn {
        padding: .4rem;
        font-weight: 500;
        position: relative;
    }
/* .herovideo{
    height: 940px;
} */
 .pessanger{
    position: static;
 }
 .pessangerSelect{
    right: 0;
 }
.heaadtext h1{
    font-size: 1.5rem;
}
.heaadtext p{
    font-size: 1rem;
}
.section-heading{
    font-size: 1.3rem;
}
.text2{
    font-size: 1.2rem;
}
    .sortBtn>div {
        font-size: .8rem;
    }

    .f-lg {
        font-size: 1.1rem;
    }
}
.popImg img{
    height: 380px;
    width: 100%;
    object-fit: cover;
}
.font-600{
    font-weight: 600 !important;
}
.trip-buttons {
    display: flex;
    gap: 35px;
}

.trip-buttons input[type="radio"] {
    display: none; /* hide circles */
}

.trip-btn {
    padding: 8px 0;
    cursor: pointer;
    border-bottom: 3px solid transparent;
    transition: 0.25s;
}

.trip-buttons input[type="radio"]:checked + .trip-btn {
    font-weight: 600;
    border-bottom: 3px solid #007bff; /* bold underline */
    color: #007bff;
}
.bookearly-text{
    cursor: pointer;
}
.reviews{
    background-color: #f4f7f9
}