
body {
    font-family: "Poppins", sans-serif;
    /* font-family: "Roboto", sans-serif; */
    background-color: #f4f7f9;
    font-weight: 300;
}
a{
    text-decoration: none;
}
.sortBtn {
    flex: 0 0 33.33%;
    text-align: left;
    padding: .7rem 1.5rem;
    border: navajowhite;
    outline: navajowhite;
    background: transparent;
    font-weight: 600;
}
.sortBtn.active{
    border-bottom: 3px solid #0072c8;
    color: #0072c8;
}
.sortBtn:first-child.active{
    border-end-start-radius: .5rem;
}
.sortBtn:last-child.active{
    border-end-end-radius: .5rem;
}
.flightCard hr{
    height: 2px;
    width: 100%;
}
.operator .duration{
    font-size: 13px;
    background-color: #f4f7f9;
    font-weight: 500;
    height: 24px;
    border-radius: 12px;
}
.bookBtn{
    background-color: #0072c8;
    color: #fff;
    border-color: #0072c8;
    outline-color: #0072c8;
    width: 100%;
    border-radius: .3rem;
    transition: all 0.5s linear;
}
.bookBtn.whatsAppBtn{
    color: #0072c8;
    background-color: #fff;
    border-color: #0072c8;
    outline-color: #0072c8;
}
.bookBtn:hover{
    background-color: #025799;
    border-color: #025799;
    outline-color: #025799;
}
.bookBtn.whatsAppBtn:hover{
    color: #0072c8;
    background-color: #fff;
    border-color: #0072c8;
    outline-color: #0072c8;
}
/* .operatorLogo:has(img:nth-child(2)) img:first-child {
  
} */
 .operatorLogo div{
    width: 26px;
    height: 26px;
    background-color: #fff;
    border-color: #e3e3e37d !important;
    overflow: hidden;
 }
.operatorLogo div:not(:first-child){
    margin-inline-start: -10px;
}
.stop p{
    border-bottom-style: dotted !important;
}
.flightDetailBtn{
    border-top-style: dotted !important;
}
.flightDetail button{
    font-weight: 300;
}
.separator{
    border-style: dotted;
}
.modal-logo{
    width: 24px;
    height: 24px;
}
.modal-logo img{
    border-radius: 50%;
}
.aLine{
    background-color: #f4f7f9;
    border-radius: 12px;
}
.dot{
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dot-icon {
    display: block;
    width: 8px;
    height: 8px;
    background: #6c757d;
    border-radius: 50%;
    position: relative;
    overflow: visible;
}
.dot-icon::after{
    position: absolute;
    content: "";
    width: 2px;
    height: 40px;
    background: #6c757d;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
}
.dot-up::after{
    bottom: 0;
}
.dot-icon .fa-circle{
    font-size: .5rem;
    display: none;
}
.w-90px{
    width: 90px;
}
.plane-icon i{
    rotate: 90deg;
}
.my-shadow {
    box-shadow: 0 3px 1px -2px #00000033, 0 2px 2px 0 #00000024, 0 1px 5px 0 #0000001f !important;
}
.layoverDetail{
    margin-left: 90px;
}